<div class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-4">

        <h1 class="title"> List of all created Events </h1>

        <%= simple_form_for current_user do %>
          <% @events.select do |event| %>
          <p>
            <strong> Event: </strong>
            <%= event.name %>
            </p>

            <p>
            <strong> Description: </strong>
            <%= event.description %>
          </p>

          <p>
            <strong> Location: </strong>
            <%= event.location %>
          </p>
          <p>
            <strong> Created by: </strong>
            <%= event.creator.name %>
          </p>
          <hr>

          <% end %>
        <% end %>

        <br />
        <div class="field">
          <div class="control">
            <%= link_to "back", root_path, class:"button is-danger" %>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>
