<div class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-4">

        <h1 class="title is-4"> Event created </h1>

          <strong> Event: </strong>
          <p>
            <%= @event.name %>
          </p>
          <br />

          <strong> Event Creator </strong>
          <p>
            <%= current_user.name %>
          </p>
          <br />

          <strong> Description: </strong>
          <p>
            <%= @event.description %>
          </p>
          <br />

          <strong> Location: </strong>
          <p>
            <%= @event.location %>
          </P>
          <br />

          <strong> Date: </strong>
          <%= @event.date %>


          <div class="field">
            <p>
            <%= link_to "List of all events ", events_path, class:"button" %>
            <%= link_to "create new event", new_event_path, class:"button is-danger" %>
            <%= link_to "Back", root_path, class:"button is-info" %>
            </P>
          </div>

      </div>
    </div>
  </div>
</div>
