<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar" >

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <p class="navbar-item">
          <%= link_to 'Event Homepage', root_path, class:"button is-info" %>
        </p>

        <a class="navbar-item">
          Documentation
        </a>

      </div>
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">

<!-- signed in current user -->
      <% if user_signed_in? %>
      <p>
        <%= link_to current_user.name.capitalize, edit_user_registration_path, class: "button is-primary" %>
      </p>
      <p>
        <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: "button is-warning" %>
      </p>

      <% else %>
            <p>
              <%= link_to "Sign up", new_user_registration_path, class: "button is-primary" %>
            </p>
            <p>
              <%= link_to 'Log in', new_user_session_path, class: "button is-warning" %>
            </p>
      <% end %>


          </div>
        </div>
      </div>
    </div>
  </nav>


    <% if flash[:notice] %>
      <div class="notification is-primary global-notification">
        <p class="notice"> <%= notice %> </p>
      </div>
    <% end %>

    <% if flash[:alert] %>
      <div class="notification is-danger global-notification">
        <p class="alert"> <%= alert %> </p>
      </div>
    <% end %>




    <%= yield %>
  </body>
</html>
